<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/GuiceBox/.launc"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GuiceBox/sample/sample/empty/EmptyFailover.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sample.empty.EmptyFailover"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GuiceBox"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Duser.name=empty1"/>
</launchConfiguration>
